<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
</head>
<style>
	.content{
		height: 500px;
		width: 800px;
	}
	.content .left{
		height: 500px;
		width: 300px;
		background-color: red;
		float: left;
	}
	.content .right{
		height: 500px;
		width: 400px;
		background-color: green;
		float: left;
	}
</style>
<body>
	<div class="container">
  <div class="content">
    <div class="left">
      
    </div>
    <div class="right">
      
    </div>
  </div>
</div>
</body>
</html>